@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

  <form class="text-center">
      <div class="form-image py-4 px-5">
        <h1 class=" fs-3 fw-bold text-white">Thay đổi mật khẩu</h1>
        <input type="password" class="form-control mt-5 py-2"
               placeholder="Nhập mật khẩu cũ" id="inputPassword01" required>
        <input type="password" class="form-control mt-5 py-2"
               placeholder="Nhập mật khẩu mới" id="inputPassword0" required>
        <input type="password" class="form-control mt-5 py-2"
               placeholder="Nhập lại mật khẩu mới" id="inputPassword" required>
        <button class="btn mt-5 mb-3 w-50 pt-2 pb-2 text-white" type="submit">Đăng nhập</button>
      </div>
      <div>
      </div>
    </form>
