@{
    ViewData["Title"] = "News";
}

@section Css {
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"
        integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
        integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <link rel="stylesheet" href="~/css/common.css">
  <link rel="stylesheet" href="~/css/reponsiveCommon.css">
  <link rel="stylesheet" href="~/css/reponsiveMenu.css"> 
  <link rel="stylesheet" href="~/css/detail.css">
  <link rel="stylesheet" href="~/css/news.css"/>
}

<div class="news container py-5">
  <h5 class="fw-bold text-uppercase mb-5 fs-3">Tin tức</h5>
  <div class="col-md-12 mb-5">
    <div class="row">
      <div class="col-lg-6">
        <div class="blog-image d-flex justify-content-center">
          <a
            href="http://localhost:63342/LT_Web/Page/News/tintuc.html?_ijt=c09cd9gdj5tjdtro4igeqk5f1a&_ij_reload=RELOAD_ON_SAVE">
            <img src="image/new0.jpg" class="image-responsive rounded"
                 alt="Các mẫu Glitter &nbsp;Acrylic Powder hot nhất hiện nay">
          </a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="blog-info w-100 px-5">
          <h3 class="blog-name">
            <a href="" class="text-decoration-none fw-bold fs-5">Mẫu nails đẹp: Top 15 móng xinh dẫn dầu xu hướng hiện
              nay</a>
          </h3>
          <i class="blog-author font-italic">21/11/2021 - Đăng bởi:Trần Thị Thủy Ngân - 10020 bình luận</i>
          <p class="blog-description mt-2">
            "Mẫu nails đẹp mang đến cho bạn đôi tay vô cùng quyến rũ nổi bật tăng thêm sự tự tin khi xuất hiện ở bất cứ
            nơi đâu. Dưới đây là tổng hợp những mẫu móng tay đẹp đơn giản nhẹ nhàng được yêu thích nhất hiện nay..."
          </p>
          <div class="viewmore border-0">
            <a class="text-decoration-none"
               href="http://localhost:63342/LT_Web/Page/News/tintuc.html?_ijt=c09cd9gdj5tjdtro4igeqk5f1a&_ij_reload=RELOAD_ON_SAVE"
               title="Xem thêm">
              Xem thêm
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 mb-5">
    <div class="row">
      <div class="col-lg-6">
        <div class="blog-image d-flex justify-content-center">
          <a
            href="http://localhost:63342/projectltweb/LT_Web/Page/News/tintuc1.html?_ijt=3jdpn77lh65e6r7986lndsr8v1&_ij_reload=RELOAD_ON_SAVE">
            <img src="image/Nails3.jpg" class="image-responsive rounded"
                 alt="Các mẫu Glitter &nbsp;Acrylic Powder hot nhất hiện nay">
          </a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="blog-info w-100 px-5">
          <h3 class="blog-name">
            <a href="" class="text-decoration-none fw-bold fs-5">Bộ cọ vẽ&nbsp;Nails chuyên nghiệp</a>
          </h3>
          <p class="blog-author">21/10/2021 - Đăng bởi:Trần Thị Thủy Ngân - 500 bình luận</p>
          <p class="blog-description">
            "Để đáp ứng cho như cầu làm đẹp của mọi người ở mọi lúc mọi nơi. N'Nails hiện đã có các loại mẫu cọ
            đáp ứng nhu cầu cho những người muốn tự làm tại nhà hay những ai muốn tìm hiểu về làm Nails. Sau đây là
            những mẫu cọ chuyên nghiệp về Nails ..."
          </p>
          <div class="viewmore border-0">
            <a class="text-decoration-none"
               href="http://localhost:63342/projectltweb/LT_Web/Page/News/tintuc1.html?_ijt=3jdpn77lh65e6r7986lndsr8v1&_ij_reload=RELOAD_ON_SAVE"
               title="Xem thêm">
              Xem thêm
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 mb-5">
    <div class="row">
      <div class="col-lg-6">
        <div class="blog-image d-flex justify-content-center">
          <a
            href="http://localhost:63342/projectltweb/LT_Web/Page/News/tintuc1.html?_ijt=3jdpn77lh65e6r7986lndsr8v1&_ij_reload=RELOAD_ON_SAVE">
            <img src="image/hinhnew1.jpg" class="image-responsive rounded"
                 alt="Các mẫu Glitter &nbsp;Acrylic Powder hot nhất hiện nay">
          </a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="blog-info w-100 px-5">
          <h3 class="blog-name">
            <a class="text-decoration-none fw-bold fs-5" href="">Làm Nails nhiều&nbspcó hư tổn móng hay không?</a>
          </h3>
          <p class="blog-author">20/11/2021 - Đăng bởi:Trần Thị Thủy Ngân - 120 bình luận</p>
          <p class="blog-description">
            "Làm Nails nhiều có hư tổn móng hay không? Một câu hỏi có lẽ khá nhiều chị em quan tâm đến khi mới làm
            Nails hay dù làm Nails nhiều rồi vẫn còn thắc mắc. Đã từ rất lâu việc làm Nails trở thành một trong những
            phụ kiện không thể thiếu của chị em phụ nữ, mà hiện nay không chỉ có phụ nữ mà nam giới cũng muốn chăm sóc
            thật đẹp cho bộ móng của mình. Bởi vậy mà mọi người ... "
          </p>
          <div class="viewmore border-0">
            <a class="text-decoration-none"
               href="http://localhost:63342/projectltweb/LT_Web/Page/News/tintuc1.html?_ijt=3jdpn77lh65e6r7986lndsr8v1&_ij_reload=RELOAD_ON_SAVE"
               title="Xem thêm">
              Xem thêm
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12 mb-5">
  <div class="row">
    <div class="col-lg-6">
      <div class="blog-image d-flex justify-content-center">
        <a
          href="http://localhost:63342/projectltweb/LT_Web/Page/News/tintuc1.html?_ijt=3jdpn77lh65e6r7986lndsr8v1&_ij_reload=RELOAD_ON_SAVE">
          <img src="image/nuocson.jpg" class="image-responsive rounded"
               alt="Các mẫu Glitter &nbsp;Acrylic Powder hot nhất hiện nay">
        </a>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="blog-info w-100 px-5">
        <h3 class="blog-name">
          <a href="" class="text-decoration-none fw-bold fs-5">Top 10 thương hiệu sơn móng tay hot nhất hiện nay</a>
        </h3>
        <p class="blog-author">21/11/2021 - Đăng bởi:Thị Nhi - 220 bình luận</p>
        <p class="blog-description">
          "Sơn móng tay là một trong những sở thích làm đẹp không thể thiếu của phái đẹp, việc lựa chọn cho
          mình một sản phẩm phù hợp sẽ làm tăng hiệu quả làm đẹp của chính mình. Hãy cùng Chonhangchuan tìm
          hiểu về sản phẩm, cũng như tham khảo top 10+ thương hiệu sơn móng tay tốt nhất hiện nay qua bài viết sau nhé.
          ..."
        </p>
        <div class="viewmore border-0">
          <a class="text-decoration-none"
             href="http://localhost:63342/projectltweb/LT_Web/Page/News/tintuc1.html?_ijt=3jdpn77lh65e6r7986lndsr8v1&_ij_reload=RELOAD_ON_SAVE"
             title="Xem thêm">
            Xem thêm
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12 mb-5">
  <div class="row">
    <div class="col-lg-6">
      <div class="blog-image d-flex justify-content-center">
        <a
          href="http://localhost:63342/projectltweb/LT_Web/Page/News/tintuc1.html?_ijt=3jdpn77lh65e6r7986lndsr8v1&_ij_reload=RELOAD_ON_SAVE">
          <img src="image/lamnails.jpg" class="image-responsive rounded"
               alt="Các mẫu Glitter &nbsp;Acrylic Powder hot nhất hiện nay">
        </a>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="blog-info w-100 px-5">
        <h3 class="blog-name">
          <a href="" class="text-decoration-none fw-bold fs-5">6 Điều cần phải ghi nhớ trong nghề làm nail để có thu nhập khủng</a>
        </h3>
        <p class="blog-author">21/11/2021 - Đăng bởi:Huỳnh Thị Diễm Ngân - 300 bình luận</p>
        <p class="blog-description">
          "Nghề làm nail là một trong những nghề được rất nhiều chị em quan tâm. Bởi đây là một trong những công việc
          rất phù hợp với người yêu thích làm đẹp và dễ có thu nhập đủ cao để lo cho bản thân. Tuy vậy, khi bước vào
          kinh doanh tiệm nail thì không ít bạn do còn non nớt mà vướng phải những sai lầm không đáng có. Những kinh
          nghiệm dưới đây là bài học được đúc kết từ rất nhiều thợ nails, chủ tiệm đi trước đã để lại. Hãy tham khảo
          ngay nhé..."
        </p>
        <div class="viewmore border-0">
          <a class="text-decoration-none"
             href="http://localhost:63342/projectltweb/LT_Web/Page/News/tintuc1.html?_ijt=3jdpn77lh65e6r7986lndsr8v1&_ij_reload=RELOAD_ON_SAVE"
             title="Xem thêm">
            Xem thêm
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="view-more w-100 body">
  <h5 class="text-uppercase fw-bold fs-4 mb-2 text-black ms-5 mt-5">Có thể bạn quan tâm</h5>
  <div class="slick-product">
    <div class="slide-product bg-white mx-auto" id="image-slide">
    </div>
  </div>
</div>

@section Scripts {
script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
        integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script lang="js" type="text/javascript" src="~/js/Common.js"></script>
    <script lang="js" type="text/javascript" src="~/js/news.js"></script>

}