@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

    <form class="text-center">
      <div class="form-image py-4 px-5  mb-3">
        <h1 class=" fs-3 fw-bold text-white">Đăng ký</h1>
        <input type="email" class="form-control mt-5 py-2" id="staticEmail"
               placeholder="Nhập địa chỉ email" required>
        <input type="password" class="form-control mt-5 py-2"
               placeholder="Nhập mật khẩu" id="inputPassword0" required>
        <input type="password" class="form-control mt-5 py-2"
               placeholder="Nhập lại mật khẩu" id="inputPassword" required>
        <button class="btn mt-5 mb-3 w-50 pt-2 pb-2 text-white" type="submit">Đăng ký</button>
      </div>
      <div>
      </div>
    </form>
